<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bài đăng</title>
        <link href='http://localhost:3000/css/danhgia.css' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"/>
        <link href='http://localhost:3000/css/card_detail.css' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">
        <script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
        <script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href='http://localhost:3000/css/comment.css' rel='stylesheet' type='text/css'>
        
</head>
<style>
    div.card-tmp{
        box-shadow: 0px 0px 10px rgb(237, 237, 237);
        border-radius: 20px;
    }
    button.loc{
    border: 0;
    border-radius: 0;
    text-align: center;
    background-size: 205% auto;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(45deg, #0f7aec 0%, #09f7eb  51%, #05b749  110%);
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 3px 7px rgb(203, 202, 202);
    margin-right: -37px;
    margin-top: -40px;
    float: right;
    width: 100px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    }
    .loc:hover {
      background-position: right center;
      color: rgb(19, 18, 18);
      text-decoration: none;
      transition: all 0.3s ease-in-out;
    }
    .arrow-up {
      border-top: 5px solid transparent;
      border-right: 15px solid transparent;
      z-index: 10;
      border-bottom: 5px solid rgb(65, 130, 181);
      float: right;
      margin-top: -50px;
      margin-right: -37px;
    }
</style>
<script>
  function Load(error){
      Swal.fire({
      icon: 'question',
      title: error,
      customClass: 'swal-wide',
      showCancelButton: true,
      showConfirmButton: false,
      footer: '<a href="/dangnhap_nguoidung" class="btn btn-success text-white">Đăng nhập</a>'
      })
  }
</script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="http://localhost:3000/js/sweetalert2.js"></script>
<body style="background-color: rgb(251, 249, 249);">
  <% if(errorMsg != "") { %> 
    <script>Load("<%= errorMsg %>")</script>
<% }errorMsg="" %>
    <%- include('Views_Include/navbar'); %>
    <div class="site-blocks-cover inner-page-cover overlay" style="background-image: url(https://images.squarespace-cdn.com/content/v1/56d4bb112eeb815c06da8940/1521077045238-CJOE4I8E9HMUUY2VMK74/press+and+media.png);" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-10">
              <span class="d-inline-block text-white px-3 mb-3 property-offer-type rounded"></span>
              <h1 class="mb-2">BÀI ĐĂNG</h1>
              <p class="mb-5"><strong class="h2 text-success font-weight-bold"></strong></p>
            </div>
          </div>
        </div>
      </div>
    <div class="container" style="overflow: hidden;">
        <p class="card-text"><%- BaiDang.NoiDung_BD %></p>
    </div>


    <hr>

    <!--Comments-->
    <div class="container container-comment" >

      <div class="container my-5 py-5 text-dark">
        <div class="row d-flex justify-content-center">
          <div class="col-md-11 col-lg-9 col-xl-10">
            <h3>Bình luận</h3>
              
            <!--Write-->
            <div class="d-flex flex-start mt-5">
              <img class="rounded-circle shadow-1-strong "
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="avatar" width="65"
                height="65" />
              <div class="card w-100 border-0 bg-transparent">
                <form class="card-body cmt" method="post" action="">
                  <div class="row">
                    <input type="hidden" value="<%= BaiDang.ID_BD %>" id="id_bd">
                    <textarea id="binhluanvalue" class="col-12 border-0 comment pt-2 pb-2" placeholder="Viết bình luận..." rows="1" name="NoiDung_BL" required></textarea>
                  </div>
                  
                  <span class="arrow-up"></span>
                <button type="submit" class="btn loc"> Gửi &nbsp;<i class="fas fa-paper-plane"></i></button>
                </form>
                <!---->
                </div>
                
              </div>
            </div>
            
          </div>
        </div>
    </div>
<hr>
      <section >
        <div class="container my-5 py-5 text-dark">
          <div class="row d-flex justify-content-center">
            <div class="col-md-11 col-lg-9 col-xl-10" id="chuabinhluan">
              <!--Comments-->
              <% BinhLuan.forEach(function(bl){ %>
              <div class="d-flex flex-start mb-4">
                <img class="rounded-circle shadow-1-strong me-3"
                  src="http://localhost:3000/<%- bl.Anh_ND %>" alt="avatar" width="65"
                  height="65" />
                <div class="card w-100 border-0 bg-transparent">
                  <div class="card-body p-4 cmt">
                    <div class="">
                      
                      <p class="small" style="float: right;"><%- new Date(bl.ThoiGian_BL.toISOString()).toLocaleString("vi-VN") %></p>
                      <h5><%= bl.Ten_ND %></h5>
                      <p><%= bl.NoiDung_BL %></p>
      
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                          <a href="#!" class="link-muted me-2"><i class="fas fa-thumbs-up me-1"></i> </a>
                        </div>
                        <a type="button" class="btn" id="reply"><i class="fas fa-reply me-1"></i> Trả lời</a>
                        
                      </div>
                    </div>
                  </div>

                  
                <form class="card-body col-8 ml-5 " method="post" action="" style="display: none;" id="boxreply">
                  <div class="row">
                    <input type="hidden" value="<%= BaiDang.ID_BD %>" id="id_bd">
                    <textarea id="binhluanvaluecon" class="col-12 border-0 comment pt-2 pb-2" placeholder="Viết bình luận..." rows="1" name="NoiDung_BL" style="background-color: rgb(239, 234, 234);" required></textarea>
                  </div>
                  
                  <span class="arrow-up"></span>
                <button type="submit" class="btn loc"> Trả lời &nbsp;<i class="fas fa-paper-plane"></i></button>
                </form>
                <!---->
                
                </div>
                
              </div>
              <% }) %>
             <!--endComments-->
            </div>
          </div>
        </div>
      </section>
    </div>
    <!--endComments-->

    



    <div class="container"><%- include('Views_Include/footer'); %></div>
        
</body>

<%- include('Views_Include/js'); %>
    
</html>

<script>
  function _(element){	
		return document.getElementById(element)
	}

$('form.cmt').submit(function (event) {
    event.preventDefault();
    var id = _('id_bd').value;
    $.post("/baidang/binhluan/" + id,
    {
        NoiDung_BL: _('binhluanvalue').value
    })
    fetch_data();
});
function formatDate(date){
  return String(date);
}
function fetch_data(){
		fetch('/baidang/get_binhluan?id_baidang='+_('id_bd').value ).then(
			function(response){
				return response.json();
			}
		).then(function(responseData){
			var html = '';
      for(var count = 0; count<responseData.length; count++){
			html += '<div class="d-flex flex-start mb-4"><img class="rounded-circle shadow-1-strong me-3" src="http://localhost:3000/'+responseData[count].Anh_ND +'" alt="avatar" width="65" height="65" /> <div class="card w-100 border-0 bg-transparent"><div class="card-body p-4 cmt"><div class=""><p class="small" style="float: right;">'+responseData[count].ThoiGian_BL+'</p><h5>'+responseData[count].Ten_ND+'</h5><p>'+responseData[count].NoiDung_BL+'</p><div class="d-flex justify-content-between align-items-center"><div class="d-flex align-items-center"><a href="#!" class="link-muted me-2"><i class="fas fa-thumbs-up me-1"></i> </a></div><a href="#!" class="link-muted"><i class="fas fa-reply me-1"></i> Trả lời</a></div></div></div></div></div>';
      }
      _('binhluanvalue').value = "";
			_('chuabinhluan').innerHTML = html;
		});
	}


 _('reply').onclick =  function myFunction() {
  var x = _("boxreply");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>