<!DOCTYPE html>
<html lang="en">
  <head>
    <title>KKN - Trang chủ</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="http://localhost:3000/assets/css/slider.css">
  <link rel="stylesheet" href="http://localhost:3000/css/card.css">
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="http://localhost:3000/js/sweetalert2.js"></script>
  <style>
    input#timkiem{
      border: 0;
      box-shadow: 0px 0px 15px rgb(223, 221, 221);
    }
    input#timkiem:focus{
      border: 1px solid rgba(5, 230, 255, 0.5);
    }
    #ten{
      font-family: Arial;
      font-weight: bold;
    }
    .swal-wide{
			width: 700px;
		}
  </style>

  </head>
  <body>
      <% session.confirm="" %>
      <%- include('Views_Include/navbar') %>
      <% if(session.sc) { %> 
        <script>Success("<%= session.sc %>")</script>
      <% } session.sc = null %> %>
  
      <div class="slide-one-item home-slider owl-carousel">
        <% var i=1; nt.forEach(function(nt){ %> 
        <div class="site-blocks-cover overlay" style="background-image: url(https://lawrenceryaninvestigations.com/wp-content/uploads/2019/05/background-check-in-Illinois.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
          <div class="container">
            <div class="row align-items-center justify-content-center text-center">
              <div class="col-md-10">
                <span class="d-inline-block bg-success text-white px-3 mb-3 property-offer-type rounded">For Rent</span>
                <h1 class="mb-2"><%= nt.TenNhaTro_NT %></h1>
                <p class="mb-5"><strong class="h2 text-success font-weight-bold"><%- numberFormat(nt.Gia_NT) %> đ/tháng</strong></p>
                <p><a href="#card-nhatro" class="btn btn-white btn-outline-white py-3 px-5 rounded-0 btn-2">Xem thêm</a></p>
              </div>
            </div>
          </div>
        </div>  
        <% }) %>
        
      </div>
      <!--End crousel-->
      
      <div class="site-section site-section-sm pb-0">
        <div class="container">
          <div class="row">
            <div class="form-search col-md-12" style="margin-top: -100px;">
              <div class="row  align-items-end">
                <div class="col-md-4">
                  <label for="list-types">Tỉnh/Thành</label>
                  <div class="select-wrap">
                    <select name="province" id="province" class="form-select rounded-pill">
                        <option></option>
                      <% Provinces.forEach(function(pr){ %>
                        <option value="<%= pr.id %>"><%= pr._name %></option>
                      <% }); %>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <label for="offer-types">Quận/Huyện</label>
                  <div class="select-wrap">
                    <select name="district" id="district" class="form-select rounded-pill" required>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <label for="select-city">Xã/Phường/Thị trấn</label>
                  <div class="select-wrap">
                    <select name="ward" id="ward" class="form-select rounded-pill" required>
                    </select>
                  </div>
                </div>
                
              </div>
            
          </div>  
  
          <div class="row">
            <div class="col-md-12">
              <div class="view-options bg-white py-3 px-3 d-md-flex align-items-center">
                <!--Search-->
                <form action="/timkiem" method="post" class="col-7 row">
                  <div class="mr-auto col-8">
                      <input name="timkiem" id="timkiem" type="text" class="rounded-pill form-control form-control-sm" placeholder=" Tìm kiếm theo khu vực...">
                  </div>
                  <div class="col-4">
                    <input type="submit" class="form-control-sm btn btn-success text-white rounded-pill" 
                    value="Search" style="background-color: rgb(18, 192, 111);">
                  </div>
                </form>

                <div class="ml-auto d-flex align-items-center">
                  <div>
                    <a href="#" class="view-list px-3 border-right active">All</a>
                    <a href="#" class="view-list px-3 border-right">Rent</a>
                    <a href="#" class="view-list px-3">Sale</a>
                  </div>
  
  
                  <div class="select-wrap">
                    <span class="icon icon-arrow_drop_down"></span>
                    <select class="form-control form-control-sm d-block rounded-0">
                      <option value="">Sort by</option>
                      <option value="">Price Ascending</option>
                      <option value="">Price Descending</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
         
        </div>
      </div>
      <% if(TuKhoa!=""){ %>
          <div class="container">Từ khóa tìm kiếm: <%= TuKhoa %></div>
      <% } %>
      <!--Nhà trọ-->

      
      
      <div class="site-section site-section-sm bg-light">
        <div class="container">
          <a class="btn col-1" href="/"><i class="bi bi-house-door-fill"></i> Home</a> 
          <div class="row">
          <div class="wrapper mb-4 col-7" style="margin-left: 10px;">
            <form action="/locgia" method="post" class="">
              <div class="row">
                <h2 class="col-9">Giá phòng</h2>
                <button type="submit" class="loc col-2 m-2">Lọc</button>
              </div>
              
            
            <% if(max!=""){ %> 
              <p>Lọc giá phòng từ khoảng từ <%- numberFormat(min*1000) %>đ đến <%- numberFormat(max*1000) %>đ</p>
              <div class="price-input">
                <div class="field">
                  <input type="hidden" class="input-min rounded-pill" name="min" id="min" value="<%= min %>">
                </div>
                <div class="separator">-</div>
                <div class="field">
                  <input type="hidden" class="input-max rounded-pill" name="max" id="max" value="<%= max %>">
                </div>
              </div>
              <div class="row mb-3" style="margin-top: -70px;">
                <p class="col-1">Min</p>
                <input id="minimum" value="<%- numberFormat(min*1000) %>" class="input-min rounded-pill form-control col-4" type="text" readonly>
                <i class="col-2">  </i>
                <input id="maximum" value="<%- numberFormat(max*1000) %>" class="input-max rounded-pill form-control col-4" type="text" readonly>
                <p class="col-1">Max</p>
              </div>
              
              <div class="slider">
                <div class="progress"></div>
              </div>
              <div class="range-input">
                <input type="range" class="range-min" min="0" max="12000" id="minvalue" value="<%- min %>" step="500">
                <input type="range" class="range-max" min="0" max="12000" id="maxvalue" value="<%- max %>" step="500">
              </div>  
              <div class="mt-3 row">
                <p class="col-2">0</p>
                <p class="col-2">&nbsp;&nbsp;&nbsp;2,5tr</p>
                <p class="col-3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 5tr</p>
                <p class="col-2">7,5tr</p>
                <p class="col-2">&nbsp;&nbsp;&nbsp;&nbsp;10tr</p>
                <p class="col-1">&nbsp;&nbsp;&nbsp;12tr</p>
              </div>
            <% } else {%>
              
              <div class="price-input">
                <div class="field">
                  <input type="hidden" class="input-min rounded-pill" name="min" id="min" value="0">
                </div>
                <div class="field">
                  <input type="hidden" class="input-max rounded-pill" name="max" id="max" value="6000" >
                </div>
              </div>
              <div class="row mb-3" style="margin-top: -70px;">
                <p class="col-1">Min</p>
                <input id="minimum" value="0" class="input-min rounded-pill form-control col-4" type="text" readonly>
                <div class="col-2 text-center"><i class="bi bi-arrow-right"></i></div>
                <input id="maximum" value="6,000,000" class="input-max rounded-pill form-control col-4" type="text" readonly>
                <p class="col-1">Max</p>
              </div>
              
              <div class="slider">
                <div class="progress"></div>
              </div>
              <div class="range-input">
                <input type="range" class="range-min" min="0" max="12000" id="minvalue" value="0" step="500">
                <input type="range" class="range-max" min="0" max="12000" id="maxvalue" value="6000" step="500">
              </div>
              <div class="mt-3 row">
                <p class="col-2">0</p>
                <p class="col-2">&nbsp;&nbsp;&nbsp;2,5tr</p>
                <p class="col-3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 5tr</p>
                <p class="col-2">7,5tr</p>
                <p class="col-2">&nbsp;&nbsp;&nbsp;&nbsp;10tr</p>
                <p class="col-1">&nbsp;&nbsp;&nbsp;12tr</p>

              </div>
              <% } %>
          </div>
          
          </form>
          
          <div class="wrapper mb-4 col-4" style="margin-left: 30px;">
            <div class="slide-one-item home-slider owl-carousel">
              <div><img src="http://localhost:3000/assets/images/hero_bg_1.jpg" alt="Image" class="img-fluid"></div>
              <div><img src="http://localhost:3000/assets/images/hero_bg_2.jpg" alt="Image" class="img-fluid"></div>
              <div><img src="http://localhost:3000/assets/images/hero_bg_3.jpg" alt="Image" class="img-fluid"></div>
            </div>
          </div>
          

          <div class="row mb-5" id="lopchua">

          </div>

          <!--card-->
          <div class="row mb-5" id="card-nhatro">
            
            <% var i=1; %>
            <% NhaTro.forEach(function(nt){ %>
            
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="property-entry h-100">
                <form action="/nhatro/chitiet/<%= nt.ID_NT %>" method="post" class="property-thumbnail">
                  <button type="submit" class="card border-0">
                  <div class="offer-type-wrap">
                    <span class="offer-type bg-light text-dark"><%= nt.SoLuong_DG %> đánh giá</span>
                    
                      <% if(nt.Diem_TB!=null){ %> 
                        <span class="offer-type bg-primary text-center"><%= nt.Diem_TB.toFixed(1) %> <i class="bi bi-star-fill" style="font-size: 13px;"></i></span>
                      <% }else{ %>
                        <span class="offer-type bg-primary text-center">0<i class="bi bi-star-fill" style="font-size: 13px;"></i></span>
                      <% } %>
                      <% if(nt.SoLuongHienTai_NT>=nt.SoLuongPhong_NT){ %> 
                      <span class="offer-type bg-danger text-white">Hết phòng</span>
                      <% } %>
                    </div>
                  <div style="height: 300px;">
                    <% if(nt.Anh_NT!=""){ %>
                      <img src="http://localhost:3000/nhatro/<%= nt.Anh_NT %>" alt="Image" class="img-fluid">
                    <% }else{ %> 
                      <img src="http://localhost:3000/nhatro/1.jpg" alt="Image" class="img-fluid">
                    <% } %>
                  </div>
                
                <div class="p-4 property-body">
                  <a href="#" class="property-favorite"><span class="bi bi-suit-heart-fill"></span></a>
                  <h2 class="property-title"><a href="" id="ten"><%= nt.TenNhaTro_NT %></a></h2>
                  <span class="tomtat"><i class="bi bi-geo-alt-fill"></i> <%= nt.DiaChi_NT %></span>
                  <input type="hidden" value="<%= nt.KhuVuc_NT %>" name="DiaChi" id="DiaChi"></a></form>
                  <strong class="property-price text-primary mb-3 d-block text-success"><%- numberFormat(nt.Gia_NT) %> đ</strong>
                  
                  <ul class="property-specs-wrap mb-3 mb-lg-0">
                    <li>
                      <li class="list-inline-item"><i><%= new Date(nt.NgayCapNhat_NT.toISOString()).toLocaleString("vi-VN") %></i></li>
                      
                    </li>
                    
                  </ul>
  
                </div>
              </div>
            </div>
            
            <% }) %>

            <!--Page-->
          <div class="row col-12">
            <div class="col-md-12 text-center">
              <div class="">
                
                <div class="row mt-5">
                  <div class="col-md-12">
                    <div id="app" class="text-center">
                      <a href="/" class="btn button" value="0">1</a>
                      <% for(var i=1; i<Math.ceil(pages.count/6); i++){ %>
                        <a href="/page/<%= i+1 %>" class="btn button" value="<%= i %>"><%= i+1 %></a>
                      <% } %>
                    </div>
                </div>
 
              </div>
            </div>  
          </div>
          <!---->
        </div>

        <!--Bai dang-->
        <hr>
        
      </div>
      
      
  <!--end Nhà trọ-->
    <%- include('Views_Include/topfooter'); %>
      <%- include('Views_Include/footer'); %>


  <%- include('Views_Include/js'); %>
  </body>

  <script>
  $(function()
  {
      var button = $('.button');
      function switchToNext()
      {
          var _this = $(this);
          
          if(_this.hasClass('active'))
              return false;
          else
          {
              $('.button.active').removeClass('active');
              _this.addClass('active');
          }
      }
      button.on('click',switchToNext);
  });
    $(".value_page").click(function(){
      alert($(this).val());
      /*$.post("demo_test.asp", function(data, status){
        alert("Data: " + data + "\nStatus: " + status);
      });*/
    });



    function numberFormat(num){
      num = Number(num);
      var n = new Intl.NumberFormat('en-US');
      var output = n.format(num);
      return output;
    }
    /*
    function fetch_data(min, max){
      fetch('/locgia?min=' + min.value + '&max=' + max.value +'').then(
        function(response){
          return response.json();
        }
      ).then(function(responseData){
        var html = '';
        var obj = [];
        for(var i = 0; i<responseData.length; i++){
          html='<div class="col-md-6 col-lg-4 mb-4"><div class="property-entry h-100"><form action="/nhatro/chitiet/'+responseData[i].ID_NT+'" method="post" class="property-thumbnail"><button type="submit" class="card border-0"><div class="offer-type-wrap"><span class="offer-type bg-light text-dark">'+responseData[i].SoLuong_DG+' đánh giá</span><span class="offer-type bg-primary text-center">'+responseData[i].Diem_TB.toFixed(1)+' <i class="bi bi-star-fill" style="font-size: 13px;"></i></span></div><img src="http://localhost:3000/assets/images/img_1.jpg" alt="Image" class="img-fluid"><div class="p-4 property-body"><a href="#" class="property-favorite"><span class="bi bi-suit-heart-fill"></span></a><h2 class="property-title"><a href="">'+responseData[i].TenNhaTro_NT+'</a></h2><i class="bi bi-geo-alt-fill"></i> '+responseData[i].DiaChi_NT+'<input type="hidden" value="'+responseData[i].KhuVuc_NT+'" name="DiaChi" id="DiaChi"></a></form><strong class="property-price text-primary mb-3 d-block text-success">'+responseData[i].Gia_NT+' đ</strong><ul class="property-specs-wrap mb-3 mb-lg-0"><li><li class="list-inline-item"><i>'+  responseData[i].NgayCapNhat_NT+'</i></li></li></ul></div></div></div>';
          obj.push(html);
        }
        var string = obj.toString();
        var result = string.replace(/,/g, "");
        _('lopchua').innerHTML = '<p>Lọc giá</p>' + result +'<hr>';
      });
	  }*/
    _('maxvalue').onchange = function(){
      //fetch_data(_('min'), _('max'));
      _('maximum').value = _('maxvalue').value*1000;
      _('maximum').value = numberFormat(_('maximum').value);
    };
    _('minvalue').onchange = function(){
      //fetch_data(_('min'), _('max'))
      _('minimum').value = _('minvalue').value*1000;
      _('minimum').value = numberFormat(_('minimum').value);
    };

    
  </script>
</html>