<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">
	<script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
	
	<style>
		#map{
			width: 80%;
			height: 400px;
			background-color: whitesmoke;
		}
			
	</style>
	
</head>

<body>
	<div>
	<%- include('Views_Include/navbar'); %>
	</div>
	<div class="site-blocks-cover inner-page-cover overlay" style="background-image: url(http://localhost:3000/assets/images/hero_bg_2.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row align-items-center justify-content-center text-center">
			<div class="col-md-10">
				<span class="d-inline-block text-white px-3 mb-3 property-offer-type rounded">Property Details of</span>
				
				<p class="mb-5"><strong class="h2 text-success font-weight-bold">1,000,500 đ</strong></p>
			</div>
			</div>
		</div>
		</div>
	  
	<div class="row">
		<div class="form-control col-7">
			<form action="/nhatro/dangky" method="post"  class="needs-validation" novalidate>
			<div class="card-body row">
				
				<!--Địa chỉ-->
				<div class="row border p-3 rounded m-0">
					<div style="margin-top: -29px;"><b style="background-color: white;">Địa chỉ</b></div>
					<div class="col-4">
						<label for="detail_address" class="form-label small">Tỉnh/Thành phố</label>
						<select name="province" id="province" class="form-select rounded-pill" required>
							<option></option>
							<% Provinces.forEach(function(pr){ %>
								<option value="<%= pr.id %>"><%= pr._name %></option>
							<% }); %>
						</select>
					</div>

					<div class="col-4">
						<label for="" class="form-label small">Quận/Huyện</label>
						<select name="district" id="district" class="form-select rounded-pill" required>
						</select>
					</div>

					<div class="col-4">
						<label for="" class="form-label small">Xã/Phường/Thị trấn</label>
						<select name="ward" id="ward" class="form-select rounded-pill" required>
						</select>
					</div>

					<div class="mt-3 col-12">
						<label for="" class="form-label small">Vị trí cụ thể</label>
						<input id="vtct" name="vtct" type="text"  class="rounded-pill form-control" placeholder="số nhà/đường, khóm, ấp,...">
					</div>
					<div class="mt-3 col-12">
						<label for="detail_address" class="form-label small">Địa chỉ đầy đủ</label>
						<input name="DiaChi_NT" id="detail_address" type="text" class="rounded-pill form-control" readonly>
					</div>
				</div>

				<!--Thông tinh trọ-->
				<div class="row border p-3 rounded mt-3 m-0">
					<div style="margin-top: -29px;"><b style="background-color: white;">Thông tin</b></div>
					<div class="mt-3 col-6">
						<label for="" class="form-label small">Tên nhà trọ</label>
						<input id="TenNhaTro_NT" name="TenNhaTro_NT" type="text" class="rounded-pill form-control" required>
					</div>
					<div class="mt-3 col-6">
						<label for="detail_address" class="form-label small">Số điện thoại trọ</label>
						<div class="input-group">
							<span class="input-group-text rounded-pill rounded-end">(+84)</span>
							<input name="SoDienThoai_NT" id="detail_address" type="number" class="rounded-pill form-control rounded-start" required>
						</div>
					</div>
					<div class="mt-3 col-6">
						<label for="" class="form-label small">Hình ảnh</label>
						<input name="Anh_NT" type="file" class="rounded-pill form-control" required>
					</div>
				</div>
				<div class="mt-3 col-6">
					<label for="" class="form-label small">Thông tin mô tả</label>
					<input id="ThongTin_NT" name="ThongTin_NT" type="text" class="rounded-pill form-control" required>
				</div>
				<!--Tiện ích-->
				<div class="row border p-3 rounded mt-3 m-0">
					<div style="margin-top: -29px;"><b style="background-color: white;">Tiện ích</b></div>
					<% TienIch.forEach(function(ti){ %>
						<div class="col-4">
							<div class="form-check form-switch m-lg-2">
								<a href="#check"><input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" value="<%= ti.ID_TI %>"></a>
								<label class="form-check-label" for="flexSwitchCheckDefault"><%= ti.Ten_TI %></label>
							</div>
						</div>
					<% }); %>

					<div class="mt-3 col-12">
						<label for="detail_address" class="form-label small">Các tiện ích</label>
						<input name="" id="TienIch_NT" type="text" class="rounded-pill form-control" readonly>
					</div>
				</div>
				



				<button type="submit" class="btn btn-primary btn-block mb-4">Thêm</button>

				</div>
			</div>
			
		</form>
		
		<!--Map-->
		<div class="form-control col-md-5">
			<div id="map" class="col-12"></div>
			<input id="searchInput" class="controls mt-2 form-control" type="text" placeholder="Enter a location">
		</div>
		
		<!-- Search input -->
		
	</div>
	
	
	<%- include('Views_Include/js'); %>
</body>

<%- include('Views_Include/javascript'); %>


<!--script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAS0GIsLPK5x6u9ktV3UWQhh5AYxSvV2Ws&callback=initMap">
</!--script-->

<script>
	function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 21.069624781140092, lng: 105.79219125197386},
      zoom: 5
    });
    var input = document.getElementById('searchInput');
    map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

    var autocomplete = new google.maps.places.Autocomplete(input);
    autocomplete.bindTo('bounds', map);

    var infowindow = new google.maps.InfoWindow();
    var marker = new google.maps.Marker({
        map: map,
        anchorPoint: new google.maps.Point(0, -29)
    });

    autocomplete.addListener('place_changed', function() {
        infowindow.close();
        marker.setVisible(false);
        var place = autocomplete.getPlace();
        if (!place.geometry) {
            window.alert("Autocomplete's returned place contains no geometry");
            return;
        }
  
        // If the place has a geometry, then present it on a map.
        if (place.geometry.viewport) {
            map.fitBounds(place.geometry.viewport);
        } else {
            map.setCenter(place.geometry.location);
            map.setZoom(17);
        }
        marker.setIcon(({
            url: place.icon,
            size: new google.maps.Size(71, 71),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(17, 34),
            scaledSize: new google.maps.Size(35, 35)
        }));
        marker.setPosition(place.geometry.location);
        marker.setVisible(true);
    
        var address = '';
        if (place.address_components) {
            address = [
              (place.address_components[0] && place.address_components[0].short_name || ''),
              (place.address_components[1] && place.address_components[1].short_name || ''),
              (place.address_components[2] && place.address_components[2].short_name || '')
            ].join(' ');
        }
    
        infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
        infowindow.open(map, marker);
      
        // Location details
        for (var i = 0; i < place.address_components.length; i++) {
            if(place.address_components[i].types[0] == 'postal_code'){
                document.getElementById('postal_code').innerHTML = place.address_components[i].long_name;
            }
            if(place.address_components[i].types[0] == 'country'){
                document.getElementById('country').innerHTML = place.address_components[i].long_name;
            }
        }
        document.getElementById('location').innerHTML = place.formatted_address;
        document.getElementById('lat').innerHTML = place.geometry.location.lat();
        document.getElementById('lon').innerHTML = place.geometry.location.lng();
    });
}
</script>


<!--script>
	function initMap(){
		var options = {
			center: {lat: 10.276758, lng: 105.134337},
			zoom: 15
		};
		map = new google.maps.Map(document.getElementById('map'), options);
	}
</!--script-->
</html>