<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <style>
      .container {
        padding: auto;
        margin-top: 100px;
        background-color: aqua;
        float: right;
        margin-right: 20px;
      }
      table {
        margin: auto;
      }
      
/* CSS */
.button-87 {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #EB5353 0%, #F7EC09  51%, #3EC70B  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-87:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.button-87:active {
  transform: scale(0.95);
}

      

    </style>
  </head>
  <body>
    <h3>Dữ liệu bài đăng!</h3>
    <form action="/views_danhsach_baidang/them">
    <button  class="button-87" role="button">Thêm dữ liệu+</button>
  </form>
    <table class="content-table">
      <thead>
        <tr class="bg-danger">
          <th scope="col">ID bài đăng</th>
          <th scope="col">ID nhà trọ</th>
          <th scope="col">Tên người đăng</th>
          <th scope="col">Tiêu đề</th>
          <th scope="col">Nội dung</th>
          <th scope="col">Ảnh</th>
          <th scope="col">Ngày đăng</th>
          <th scope="col">Ngày cập nhật</th>
          <th scope="col">Lượt xem</th>
          <th scope="col">Ghi chú</th>
          <th scope="col">Kiểm duyệt</th>
          <th width="5%">Sửa</th>
					<th width="5%">Xóa</th>
        </tr>
      </thead>
      <tbody>
        <% tbl_baidang.forEach(function(bd){ %>

        <tr>
          <th scope="row"><%= bd.ID_BD %></th>
          <th ><%= bd.ID_NhaTro_BD %></th>
          <td><%=bd.TenNguoiDang_BD %></td>
          <td><%=bd.TieuDe_BD %></td>
          <td><%=bd.NoiDung_BD %></td>
          <td ><img src="<%- bd.Anh_BD %>" border-radius="10px" width="100" height="100" ></td>
          <td><%=bd.NgayDang_BD %></td>
          <td><%=bd.NgayCapNhat_BD %></td>
          <td><%=bd.LuotXem_BD %></td>
          <td><%=bd.GhiChu_BD %></td>
          <td><%=bd.KiemDuyet_BD %></td>
          <td > <a style="font-size: 25px;color:blue " href="/views_danhsach_baidang/sua/<%= bd.ID_BD %>" > Sửa <i  class="fa-solid fa-pen-to-square"></i></a></td>
          <td ><a style="font-size: 25px;color:red " href="/views_danhsach_baidang/xoa/<%= bd.ID_BD %>" onclick="return confirm('Bạn có muốn xóa bài đăng có mã số <%= bd.ID_BD %> không?');">Xóa <i class="fa-sharp fa-solid fa-trash-can"></i></a></td>
        </tr>
      </tbody>
      <% });%>
    </table>

    <div>
      <!-- Navbar -->
      <%- include('Views_Include/navbar'); %>

      <!-- Card: Header and Footer -->

      <!-- Footer -->
    </div>
  </body>
</html>
