<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">
	<script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
	<link href="http://localhost:3000/css/dropzone.css" rel="stylesheet">
	<title><%= title %></title>
	<style>
	</style>
	
</head>

<body>
	<%- include('include/header') %>
    <div class="page-body">
        <%- include('include/sidebar') %>
        <div class="page-content-wrapper">
            <div class="page-content-wrapper-inner">
                <div class="content-viewport">
                <div class="row" >  
                        <div class="grid">
                            <p class="grid-header" style="box-shadow: 0px 5px 10px rgb(225, 225, 225);">VIẾT BÀI ĐĂNG</p>
                            <div class="item-wrapper row">
	
	  
	<div class="row">
			<form action="/chutro/baidang_sua/<%= BaiDang.ID_BD %>" method="post"  class="needs-validation" novalidate>
			<div class="card-body">
				
				<!--Thông tinh trọ-->
                <div class="row">
					<div class="mt-3 col-6 text-center">
						<label class="badge badge-success">TIÊU ĐỀ</label>
						<textarea id="TieuDe_BD" name="TieuDe_BD" type="text" class="form-control" rows="3" required><%= BaiDang.TieuDe_BD %></textarea>
					</div>
					<div class="mt-3 col-6 text-center">
						<label class="badge badge-success">TÓM TẮT</label>
						<textarea id="TomTat_BD" name="TomTat_BD" type="number" class="form-control" rows="3" required><%= BaiDang.TomTat_BD %></textarea>
					</div>
                </div>

                <div class="mt-3 col-12 text-center">
					<label class="badge badge-success">NỘI DUNG</label>
					<textarea id="NoiDung_BD" name="NoiDung_BD" type="text" class="form-control ckeditor"><%= BaiDang.NoiDung_BD %></textarea>
				</div>

                <div class="text-center mt-5 col-12 text-center">
					<button type="submit" class="btn btn-primary mb-4">Cập nhật</button>
				</div>
			</div>
									
		</form>
		
	
		<!-- Search input -->
		
	</div>
	</div>
</div>
</div>
</div>
</div>
</div>
</div>
	<%- include('include/dropzone'); %>
	<%- include('include/js'); %>
</body>

<%- include('include/javascript'); %>

<script src="https://cdn.ckeditor.com/4.18.0/full/ckeditor.js"></script>
<script>
	CKEDITOR.replace('NoiDung_BD', {
		customConfig: 'http://127.0.0.1:3000/js/configbaidang.js'
	});
</script>


</html>